  #area-of-expertise {
      color: white !important;
  }
  
  #main-column {
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }
  
  #areas-of-expertise-list a {
      text-decoration: none;
      color: white;
      width: 100%;
      display: block;
      float: left;
      line-height: 45px;
  }
  /*#areas-of-expertise-list {
      padding-top: 30px;
  }*/
  
  #areas-of-expertise-list>li {
      width: 21%;
      display: block;
      float: left;
      list-style-type: none;
      color: white;
      border-top: 1px dotted white;
      margin: 10px 0 10px 4%;
      border-bottom: 1px dotted white;
  }
  
  #areas-of-expertise-list>li:first-child {
      margin-left: 0;
  }
  
  ul.children>li>a:after {
      background-size: 10px 20px;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      display: inline-block;
      width: 10px;
      height: 45px;
      float: right;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
  }
  
  #areas-of-expertise-list>li>a {
      margin-top: 20px;
      font-size: 21px;
      font-weight: 700;
      padding: 0;
      color: white;
      display: block;
      padding-bottom: 12px;
  }
  
  ul.children>li {
      list-style-type: none;
      line-height: 30px;
      font-size: 17px;
  }
  
  ul.children {
      padding: 0 0 50px 0;
  }
  
  .page_item_has_children hr {
      margin-top: 0;
  }
  
  #areas-of-expertise-content {
      padding-bottom: 12px;
      margin-top: 10px;
  }
  
  @media (max-width: 1200px) {
      #areas-of-expertise-list>li {
          width: 29%;
      }
  }
  
  @media (max-width: 992px) {}
  
  @media (max-width: 767px) {
      #main-column {
          background-size: cover;
      }
      #areas-of-expertise-list>li {
          width: 100%;
          margin: 10px 0;
          border-bottom: none;
      }
      ul.children>li,
      ul.children>li>a {
          width: 100%;
          display: block;
          float: left;
      }
      ul.children {
          /* margin-left: 0; */
          padding-left:40px;
      }
      ul.children {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
      }
  }
