@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.placeFiller {
    height: 240px !important;
}

.imageHolder h2 {
    color: black;
}

.paddingTB35 {
    padding: 35px 0;
}

.paddingTB15 {
    padding: 15px 0;
}

.popover.in {
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: 550px;
    z-index: 999999999999;
    padding: 15px 5px;
    background-color: #fff;
    line-height: 25px;
    min-width: 400px;
}

.popover {
    border: 1px solid #c61912;
    margin-left: 70px;
}

.popover.bottom>.arrow {
    border-bottom-color: #c61912;
    margin-left: -80px;
}

.staff-contact {
    cursor: pointer;
    width: 70px;
}

.staff-contact:focus {
    outline: none;
}

.thumbnail-xs {
    max-width: 125px;
    height: 135px;
}

.staff-thumbnail-container-xs {
    max-width: 140px;
    height: 130px;
    overflow: hidden;
    background-size: cover;
    height: 135px;
    max-width: 155px;
    padding: 0;
    padding-right: 5px;
}

.staff-title-xs {
    color: black !important;
    font-size: 28px;
    line-height: 1;
}

.staff-contact-holder {
    DISPLAY: INLINE-BLOCK;
}

.border-bottom {
    border-width: 0px 0px 7px 0px;
    border-color: #f3f3f3;
    border-style: solid;
    height: 135px;
}

.open-staff-profile {
    right: -15px;
    float: right;
    color: black;
    z-index: 9999;
    font-size: 50px;
    /*padding-right: 15px;*/
    cursor: hand;
    cursor: pointer;
    position: absolute;
    top: 10%;
}

[id^="collapse-content-"],
.opened-profile-xs {
    display: none;
}

.staff-thumbnail-opened {
    width: 100%;
}

.thumbnail-close-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    /*background: #F3F3F3 url(/wp-content/themes/18rlc/img/minus-outline.png);
	background-size: cover;
	background-position: center;*/
    top: 10px;
    right: 10px;
}

.close-frofile-btn {
    text-align: center;
    display: block;
    font-size: 20px;
    border: 1px solid gray;
    border-top: none;
    line-height: 4;
}

.close-frofile-btn span {
    padding-right: 15px;
    font-size: 60px;
    -webkit-transform: translateY(-35%);
    -o-transform: translateY(-35%);
    transform: translateY(-35%);
}

.staff-name {
    color: #4D4D4D !important;
    font-size: 27pt;
}

#management_top_description h1,
#management_top_description h2,
#management_top_description h3,
#management_top_description h4,
#management_top_description h5,
#management_top_description h6 {
    font-family: 'Halant', serif;
}

#management_top_description {
    margin-top: 10px;
}

#content-wrapper h2.display-section-title {
    padding-left: 15px;
    /*    font-weight: 600;*/
    font-family: "Source Sans Pro script=all rev=1", "Adobe Blank";
    font-style: normal;
}

@media screen and (min-width: 1599px) {
    .placeFiller {
        height: 360px !important;
    }
}

@media (max-width: 767px) {
    .opened-profile-xs {
        display: block;
        padding-bottom: 5px;
    }
    .mrgt0 {
        margin-top: 0px !important;
        font-size: 20px;
    }
    .barttiersHeader .title,
    .barttiersHeader .description {
        padding: 9% 41px;
    }
    .staff-contact {
        width: 70%;
        padding: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .staff-contact-holder {
        background: white;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        width: 50%;
        float: left;
    }
    .borderLeft {
        border-left: 1px solid gray;
    }
    .borderRight {
        border-right: 1px solid gray;
    }
    .imageHolder {
        position: relative;
    }
    .staff-info-xs {
        background: rgba( 0, 0, 0, .6);
        position: absolute;
        color: white !important;
        padding: 20px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .staff-name-xs {
        font-size: 24px;
    }
}
