/** Push menu onto new line **/
#{$wrap},#{$wrap} #{$menu} {
    clear: both;
}

#{$wrap} #{$menu}li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu{
	margin-top: 30px !important;
    padding-top: 40px;
}

.mega-menu-link{
    font-family: 'domine',serif !important;
}

#{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:after{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 50px;
    border-bottom: 1px solid;
    margin-top: 10px;
}

@media (max-width:767px) {
	#{$wrap} #{$menu}> li.mega-menu-item > a.mega-menu-link{
    	color:white;
        border-bottom: 1px solid white;
    }
    #{$wrap} #{$menu}> li.mega-menu-item > a.mega-menu-link:after{
    
    }
    
    /*second level :after stile */
	#{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > 	a.mega-menu-link:after{
        width: 50px;
        border-bottom: none;
        margin-top: 5px;
    }
    /*second level :before stile */
      #{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > 	a.mega-menu-link:before{
 		display: inline-block; 
   		content: '\2022'; 
   		padding-right: 7px;
    }
	
    /*second level a*/
    #{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
    	 border-bottom: 1px solid white;
    }
	
    /*third level ahref*/
    #{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link{
    	padding-left: 20px;
        font-size: 14px;
    }
    
    /*third level :before*/
    #{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:before{
    	display: inline-block; 
   		content: '\2022'; 
   		padding-right: 7px;
    }
    
    #{$wrap} .mega-menu-toggle {
        display: inline;
    }
    #{$wrap} .mega-menu-toggle .mega-toggle-block-right{
    	margin-top:-60px;
    }
    
    /* toggle mobile menu icon */
    #{$wrap}.mega-menu-toggle .mega-toggle-block-1:before,
    #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:before{
       background-image: url(/wp-content/themes/18rlc/img/header-menu-icon.png);
       background-size: 40px;
       display: inline-block;
       width: 40px;
       background-repeat: no-repeat;
       height: 40px;
       content: "";
    }
    
    #{$wrap} #{$menu}li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu{
      margin-top: 0px !important;
      padding: 0px;
    }
  
   /* white link color */
   #{$wrap} #{$menu}> li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
   #{$wrap} #{$menu}> li.mega-menu-item.mega-toggle-on > a.mega-menu-link, 
   #{$wrap} #{$menu}> li.mega-menu-item > a.mega-menu-link:hover,
   #{$wrap} #{$menu}> li.mega-menu-item > a.mega-menu-link:focus,
   #{$wrap} #{$menu}> li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{
      color:inherit ;
    }
  
    /* mobile menu closed icon */
    #{$wrap} #{$menu}li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, 
	#{$wrap} #{$menu}li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after,
	#{$wrap} #{$menu}> li.mega-menu-item-has-children > a.mega-menu-link:after {
      content: '\f132';
    }

    /* mobile menu opened icon */
    #{$wrap} #{$menu}li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after,
	#{$wrap} #{$menu}li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after,
	#{$wrap} #{$menu}> li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after {
      content: '\f460';
    }


    /* mobile menu second level ahref */
    #{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
      font-size: 16px;
      text-transform: none;
      padding-left:15px;
    }
   /* mobile menu second level li */
    #{$wrap} #{$menu}> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
       padding:10px 0;
    }
}

























/** Push menu onto new line **/
#{$wrap},#{$wrap} #{$menu}  {
    clear: both;
   
}
/*
.navbar-collapse {
    display: block !important;
}*/

 #{$wrap} #{$menu} li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu{
	margin-top: 30px !important;
    padding-top: 40px;
}

.mega-menu-link{
    font-family: 'domine',serif !important;
}

#{$wrap} #{$menu} > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:after{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 50px;
    border-bottom: 1px solid;
    margin-top: 10px;

}





@media (max-width:767px) {
	#{$wrap} #{$menu} > li.mega-menu-item > a.mega-menu-link{
    	color:white;
        border-bottom: 1px solid white;
    }
    #{$wrap} #{$menu} > li.mega-menu-item > a.mega-menu-link:after{
    
    }
    
    /*second level :after stile */
    #{$wrap} #{$menu} > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > 	a.mega-menu-link:after{
        width: 50px;
        border-bottom: none;
        margin-top: 5px;

    }
    /*second level :before stile */
      #{$wrap} #{$menu} > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > 	a.mega-menu-link:before{

 		display: inline-block; 
   		content: '\2022'; 
   		padding-right: 7px;
    }
    
    /*third level ahref*/
    
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link{
    	padding-left: 20px;
        font-size: 14px;
    }
    /*second level li*/
   #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
    	 border-bottom: 1px solid white;
    }
    /*third level :before*/
    
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:before{
    	display: inline-block; 
   		content: '\2022'; 
   		padding-right: 7px;
    }
    
    #{$wrap} .mega-menu-toggle {
        display: inline;
    }
    #{$wrap} .mega-menu-toggle .mega-toggle-block-right{
    	margin-top:-60px;
    }
    
    /* toggle mobile menu icon */
    #{$wrap} .mega-menu-toggle .mega-toggle-block-1:before,
    #{$wrap} .mega-menu-toggle.mega-menu-open .mega-toggle-block-1:before{
       background-image: url(/wp-content/themes/18rlc/img/header-menu-icon.png);
       background-size: 40px;
       display: inline-block;
       width: 40px;
       background-repeat: no-repeat;
       height: 40px;
       content: "";
    }
    
    #{$wrap} #{$menu} li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu{
      margin-top: 0px !important;
      padding: 0px;
  }
  
  /* white link color */
   #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:focus,#{$wrap} #{$menu} > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link{
      color:inherit ;
  }
  
  /* mobile menu closed icon */
  #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a.mega-menu-link:after {
      content: '\f132';

  }

  /* mobile menu opened icon */
  #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after {
      content: '\f460';

  }


  /* mobile menu second level ahref */
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
      font-size: 16px;
      text-transform: none;
      padding-left:15px;
  }
 /* mobile menu second level li */
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
      padding:10px 0;
  }
}