
 @import url('https://fonts.googleapis.com/css?family=Lato|Andada|Brawler|Lora|Libre+Baskerville');
 @import url('https://fonts.googleapis.com/css?family=Domine:400,700&subset=latin-ext');
 @import url('https://fonts.googleapis.com/css?family=Domine:400,700|Open+Sans&subset=latin-ext');
 
.padding0{
	padding:0px;
}
.padding5{
	padding:5px;
}
.padding10{
	padding:10px;
}
.padding15{
	padding:15px;
}
.padding20{
	padding:20px;
}
.padding35{
	padding:35px;
}
.paddingR0{
	padding-right:0;
}
.paddingR5{
	padding-right:5px;
}

.paddingR20{
	padding-right:20px;
}

.paddingR30{
	padding-right:30px;
}

.paddingR35{
	padding-right:35px;
}
.paddingL0{
		padding-left:0;
	}
.paddingL5{
	padding-left:5px;
}
.paddingL20{
	padding-left:20px;
}
.paddingL30{
	padding-left:30px;
}
.paddingL50{
	padding-left:50px;
}

.marginT5{
	margin-top: 5px;
}
.marginT10{
	margin-top: 10px;
}
.marginT20{
	margin-top: 20px;
}
.marginT-15{
	margin-top: -15px;
}
.marginT100{
	margin-top: 100px;
}
.marginTB10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.marginL-15{
	margin-left: -15px;
}
.marginR20{
	margin-right:20px;
}
.marginR-50{
	margin-right:-50px;
}
.backWhite{
	background: white;
}
.navbar-default {
    background-color: #f3f3f3;
	border: none;
}
a,
a:focus,
a:hover{
	color:#c61912;
}
.entry-content a{
	text-decoration:underline;
}
body{
	font-family:'Lato', serif;
}
header{
	font-family:'Domine', serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1  a:focus,
h2  a:focus,
h3  a:focus,
h4  a:focus,
h5  a:focus,
h6  a:focus
h1  a:hover,
h2  a:hover,
h3  a:hover,
h4  a:hover,
h5  a:hover,
h6  a:hover{
	color:#c61912;
	text-decoration:none;
}

.fontS20{
	font-size:20px;
}
.fontS1HalfEM{
	font-size:1.5em !important;
}
.width100{
	width:100%;
}
.es_textbox_class{
	width:100%;
}
.dots{
	display: none !important;
}
.share-label{
	font-size: 21px;
    margin-right: 10px;
}
 .addthis_button_email .at-icon-wrapper{
	background-color: #4372a8 !important;
}
.header-search-icon ,
.header-phone-icon{
	float: right;
    width: 37px;
    height: 37px;
   

	
}
.header-search-icon{
	margin-top: -60px;
    margin-right: 45px;
}
.header-phone-icon{
	margin-right: 82px;
    margin-top: -60px;
}
.areas-of-expertise-list {
	margin-left: -40px; 
    padding-bottom: 50px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
}
.areas-of-expertise-list li{
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
}
.areas-of-expertise-list li:before {
   display: inline-block; 
   content: '\2022'; 
   padding-right: 15px;
}

.contactSidebarIcons{
	padding-right: 12px;
    padding-bottom: 10px;
	width: 55px;
}
.inlineBlock{
	   display: inline-block;
}
.contentFontProperties{
	 Color: #6A6A6A;
	 font-size: 16px;
}
#mobile-menu-btn{
	margin-top: 6px;
    margin-right: -24px;
}
#mobile-menu{
	width:0;
	display:none;
}


		
/*Start Menu dropdown*/
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover{
	background-color: #CD2716;
	color:white;
}


.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;
   margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;
   -moz-border-radius:0 6px 6px 6px;
   border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 

/*End Menu dropdown*/
#menu-container{
	padding:0;
	padding-top: 15px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-top:10px;

}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
 background:none;
}
.navbar .nav > li> a {
    margin-top: -9px;
}
.navbar-default{
	margin: 0;
	min-height: 84px;
}

.navbar .navbar-collapse {
  text-align: center;
  color: #7A7A7A;
  font-size: 19px;
  padding:0;
}
.navbar .navbar-collapse:hover{
	color: #000000;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:hover{
	
}
/*start search*/
#searchContainer{
	background-color:#A6A6A6;
	padding: 11px;
    color: white;
	height: 53px;
    float: left;
    width: 100%;
}
#searchContainer input{
	background-color:#A6A6A6;
	border-color: white; 
	color: white; 
	font-size: 12px;
	border-radius: 0;
}
.searchInput::-webkit-input-placeholder {
  color: white;
} 
/* Kamen */
.searchInput::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;   
}
.searchInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
/* end of Kamen */

/* end search */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 7px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { 
	left:  0px;   
	z-index: 9;
 }
.right-addon .glyphicon { 
	right: 0px;
}

/* add padding  */
.left-addon input  { 
	padding-left:  30px; 
}
.right-addon input { 
	padding-right: 30px; 
}

.flexslider {
	border:0 !important;
}

.flexslider  .flex-direction-nav li a.flex-prev {
  left: 0;
  background: url(/wp-content/themes/18rlc/img/arrow.png);
  background-size: 20px 30px;
  background-repeat:no-repeat;
}

.flexslider  .flex-direction-nav li a.flex-next {
  right: 0;
  background: url(/wp-content/themes/18rlc/img/arrow.png);
  background-size: 20px 30px;
  background-repeat:no-repeat;
   transform: rotate(180deg) ;
  -webkit-transform: rotate(180deg) ;
  -moz-transform: rotate(180deg) ;
  -o-transform: rotate(180deg) ;
  -ms-transform: rotate(180deg) ;
}
.flexslider  .flex-direction-nav a:before{
	font-family: "";
    font-size: 0px;
    display: inline-block;
    content: '';

}
.flexslider .flex-control-nav{
	bottom: 25px;
}
.flex-control-paging li a{
	background-color:white;
	z-index: 99999;
	margin-bottom: 60px;
    background: transparent;
	background-color: white !important;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover{
	background: #9e9e9e !important;
}

.btn-read-more,
.btn-register-interest,
.btn-read-more:hover, 
.search-all-members,
.search-all-members:hover
 {
	border-radius: 0;
    color: white;
    background-color: #c61912;
    min-width: 100px;
	padding: 4px 30px;
	margin-bottom: 10px;
    font-weight: 700;

}
span .page-numbers .dots{
	display:none !important;
}

.view-our-barristers-sidebar{
	margin: 30px 0;
}
.archive-search-btn, 
.archive-search-btn:hover{
	border-radius: 0;
    color: white;
	margin-top: -2px;
    background-color: #c61912;
    min-width: 100px;
	padding: 4px 10px;
    font-weight: 700;
}
#searchString{
	
}
.btn-honorary-door-tenants, 
.btn-honorary-door-tenants:hover,
.btn-view-all-news, 
.btn-view-all-news:hover{
	border-radius: 0;
    color: white;
	float:right;
    background-color: #605e5f;
    min-width: 100px;
	padding: 4px 20px;
}

.socialIcons{
	padding-right:10px;
	padding-top: 8px;
}

#homepageHowWeAreDescription{
	color:#fff;
	font-size:22px;
	line-height: 24px;
}
#homepageHowWeAreTitle{
	color:#FFFFFF ;
	font-size: 26px;
}

.homepageHowWeAreContainer{
    width: 100%;
	display: table;
	position: relative;
	margin-top: -30px;
    margin-bottom: 10px;
}

#homepageHowWeAreImg{
	position: absolute;
	z-index: 2;
	width:100%;
	height: 100%;

}
#homepageHowWeAreImg{
/*    position: fixed;*/
    background: url('/wp-content/themes/18rlc/img/middle-section.png');
    background-size: cover; 
}
.homepageHowWeAreContent{
	text-align: center;
	/*display: table;
	vertical-align: middle;*/
	position: relative;
	z-index: 3;
	margin: auto;
	margin-top: 10%;
    margin-bottom: 10%;
    width: 43%;
}

.redLine{
	border-top-style: solid;
    border-top-width: 7px;	
	border-color:#c61912;
}

#featuresOne{
	color:#4D4D4D;
	font-size:18px;
	font-weight:700;
	padding-right:140px;
	line-height:20px;

}

#featuresTwo,
#featuresThree{
	color:#6A6A6A;
	font-size:16px;
	padding-right: 40px;
}
/* start news */
.news-img{
	height: 250px;
	vertical-align: middle;
	display: table;
	position: relative;
}
.news-img img{
	position: absolute;
	z-index: 2;
	width:100%;
	height:100%;
	
}
.news-title{
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 3;
	padding: 0 56px;
	color:#FFFFFF;
	font-size:20px;
}
.news-title a{
	text-decoration:none;
}
.news-excerpt{
	color:#6A6A6A;
	font-size:14px;
	padding-right: 80px;
	
}
.news-date,
.category-date{
	color: #6A6A6A;
	font-weight:700;
	font-size: 14px;
}
.category-excerpt{
	color: grey;
}
.news-date-devider{
	border-bottom: 4px solid #979797;
	width:20%;
	padding-top:15px;
}
/* end News*/
.history-timeline-devider{
	border-top: 1px solid #979797;
    width: 45px;
    padding-bottom: 15px;
}
.category-date-devider{
	border-bottom: 1px solid #9797A2;
	width:45px;
	padding-top:10px;
}
.category-listing-devider{
	border-bottom: 6px solid #f3f3f3;
    width: 100%;
    padding-top: 30px;
}
.search-listing-devider{
	border-bottom: 6px solid #f3f3f3;
    width: 100%;
	padding-top: 10px;
    margin-bottom: 30px;
}

.search-title-devider{
	border-bottom: 1px solid #9797A2;
	width:45px;
	margin-bottom: 10px;
	margin-top: 10px;
}
ul.red-lion-pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
	padding-top:10px;
}

ul.red-lion-pagination li {display: inline;}

ul.red-lion-pagination li a,ul.red-lion-pagination li.active span.current{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
} 
ul.red-lion-pagination li.active span.current{
	font-weight:700;
}
ul.red-lion-pagination .glyphicon {
	margin-top: -2px;
    font-size: 24px;
}
.associated-members, .associated-members:hover{
	color: #CD2716;
	text-decoration:underline;
}


/* start middle slider*/
.flexslider-middle img {
    display: block;
}
.flexslider-middle .slides li {
    position: relative;
}
.flexslider-middle{
	width: 100%;
}
.flexslider-middle img{
	position: relative;
	z-index: -999999999;
	height: 100% !important;
}

.flexslider-middle .caption-wrap {
	text-align: center;
	z-index: 90000000000000;
	background: transparent !important;
	height: 100%;

}
.flexslider-middle .flexslider  .flex-direction-nav li a.flex-prev{
  left: 15px;
  background: url(/wp-content/themes/18rlc/img/grey-arrow.png);
  background-size: 20px 30px;
  background-repeat:no-repeat;
}
#metaslider_24 div ul li  .caption{
	top: 0%;
	text-align: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 240px;
}
.flexslider-middle .flexslider  .flex-direction-nav li a.flex-next {
  right: 15px;
  background: url(/wp-content/themes/18rlc/img/grey-arrow.png);
  background-size: 20px 30px;
  background-repeat:no-repeat;
   transform: rotate(180deg) ;
  -webkit-transform: rotate(180deg) ;
  -moz-transform: rotate(180deg) ;
  -o-transform: rotate(180deg) ;
  -ms-transform: rotate(180deg) ;
}
.flex-caption-description{
	color: #4D4D4D;
	font-size: 22px;
	line-height: initial;
}

.flex-caption-title{
	color: #CD2716;
	font-size: 22px;
	padding-top: 22px;
}
/* end middle slider*/

/* start articles*/
.article-title{
	color: #4D4D4D;
	padding:15px 0px;

}
.article-title a,
.article-title a:hover,
.article-title a:focus,
.article-title a:visited{
	color: #4D4D4D;
	text-decoration:none;
	font-size: 22px;
}

.article-devider{
	border-bottom: 4px solid #979797;
	width:40%;
}
.article-description{
	color: #6A6A6A;
	font-size: 14px;  
	padding-right: 39px; 
}
.article-container{
	border: 1px solid #ddd;
    padding: 0;
    padding-right: 5px;
    padding-left: 0px;
}
/* end articles*/


/* start GetInTouch*/
.get-in-touch-title{
	color: #CD2716;
	font-size: 24px;
}

.get-in-touch-description{
	color: #4D4D4D;
	font-size: 14px;
	padding-right: 145px;
}
/* end GetInTouch*/

/*start footer*/
#footer{
	background-color:#605e5f;
	width:100%;
	min-height: 200px;
	position: relative;
}
.footer-menu a{
	color: #FFFFFF;
	font-size: 16px;
	padding-right: 20px;
}
.footer-logo{
	padding-left:15px;
}
.copyright{ 
	color: #C1C1C1;
	font-size: 12px;
	 padding-right: 35px; 
}
.cookie{ 
	color: #FFFFFF;
	font-size: 14px;
	/* padding-right: 44px; */

}
#backToTop{
	border-radius: 0;
    color: white;
    background-color: #c61912;
	font-weight:700;
    width: 100px;
    padding: 4px;
    margin-top: -15px;
	position: absolute;
    z-index: 9999;
	margin-left: -50px;
}
#viewCalendar{
	border-radius: 0;
    background: gray;
	color: white;
}
/*end footer*/

.btn-label{
	font-weight: 400;
}
#direct_access{
	position: relative;
    vertical-align: middle;
    bottom: 1px;
}


@media screen and (max-width: 480px) {
    .flex-direction-nav, .flex-control-paging {
		display:none;
	}
	.article-title, .article-description{
		padding-left:10px;
	}
	.article-devider{
		margin: 0 10px;
	}
	.socialIcons{

     padding: 0; 
	}
	
}

/* start get-in-touch form*/

.get-in-touch-container {
	padding: 315px 0 0 0;
    background: url(/wp-content/themes/18rlc/img/backgroundGetInTouch.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.backgroundBlack{
	background: rgba( 0,  0,  0, .5);
    display: block;
    float: left;
	padding: 30px 40px;
	min-width: 100%;
}
.get-in-touch-input, .get-in-touch-textarea{
	border-radius:0;
	border-color: 10px solid rgba(255, 255, 255, 0.5);
	color: white;
	background: rgba( 255,  255,  255, .2) !important;
}
.get-in-touch-submit{
	font-weight: 700;
	float:right;
}
.backgroundBlack label{
	color:white;
}
.backgroundBlack h3{
	color:white;
}
 .get-in-touch-textarea {
	color: white;
	font-size: 18px;
	line-height: 20px;
	height: 148px !important;
	position:absolute;
}​

.get-in-touch-container .form-control:focus{
	border-color: #fff;
}

.collapseomatic,
.collapseomatic_content, 
.nf-form-content {
    font-family:'Lato', serif;
}
.get-in-touch-container .nf-field-container{
	margin-bottom:10px;
}

.backgroundBlack .nf-form-errors .nf-error-msg{
	color: white !important;
	margin-top: -19px;
    text-align: center;
	font-size: 18px;
    padding-bottom: 15px;
}

.backgroundBlack .nf-error-msg{
	color: white !important;
}

.backgroundBlack .nf-form-fields-required{
	display:none;
}

/* end get-in-touch form*/

.slides {
  float: left;
  margin-left: -40px;
}
/* start Barrister listing page*/
#barristerFilter{
	font-size: 14px;
	color: #4D4D4D;
	padding: 20px 0 0 20px
}
#barristerFilter select,
#barristerFilter input[type=text]{
	height: 30px;
	background-color:  #f3f3f3;
    border-color: #A6A6A6;
	min-width: 100px;
	border-style: solid;
    border-width: 1px;
	border-radius: 3px;
}
.barrister-name-link,
.barrister-name-link:hover,
.barrister-name-link:focus,
.barrister-name-link:visited{
	color: #CD2716;
	font-size: 16px;
	text-decoration: underline;
}
.seniorityTitle, 
.questionnairesFormTitles{
	border-width: 0px 0px 7px 0px;
    border-color: #f3f3f3;
    border-style: solid;
	margin: 20px 0;
	font-size:28px;
	padding:0;
	padding-bottom:12px;
}
.underlineNameTitle{
	border-bottom: 1px solid #f3f3f3;
	display:block;
	width:30px;
	padding-top:5px;
}
.silkValue , 
.callValue{
	font-size:16px;
	Color: #6A6A6A;
}

.nameTitle, 
.silkTitle , 
.callTitle{
	font-size:16px;
	font-weight: 700;
	color: #4D4D4D;
}


.barttiersHeader{
    width: 100%;
	vertical-align: middle;
	display: table;
	position: relative;
	border-width: 0px 0px 20px 0px;
    border-color: #f3f3f3;
    border-style: solid;
	background-size: cover;
	background-position: center;
}
.barttiersHeader img{
	position: absolute;
	z-index: 2;
	height: 260px;
	width: 100%;
}

.barttiersHeader .title{
	/*background: rgba(205, 39, 22, .8);*/
	/* background: rgba(190, 30, 45, .8); */
	background: rgba(177,45,43, .8);
	height: 190px;
	z-index: 3;
	color:#FFFFFF;
	font-size:30px;  
	display: table-cell;
    vertical-align: middle;
	padding: 0 90px 0 30px;
}
/*
.RedHerderTitleContainer{
    background: rgba(177,45,43, .8);
    padding: 0;
    width: initial;
}
*/
.titleLine {
	display:none;
	/*old header*/
 /* height  : 1px;
  width   : 20%;  
  margin-bottom: 20px;
  border-bottom:1px solid white;*/
}
.barttiersHeader .description{
	display:none;
	/*old header*/
	/*height: 140px;
	padding: 0 60px;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	color:#FFFFFF;
	font-size:16px;*/
}
.barttiersHeader .descriptionContainer{
	/*old header*/
	/*background: rgba( 0, 0, 0, .6);
    z-index: 3;*/
}
.descriptionMobile{

	font-size:14px;
	padding: 20px 0 0 0;
}
.placeFiller{
	height:120px;
	width:100%;
	
}
.imgCaption{
	width:100%;
	display: table;
    margin-left: auto;
    margin-right: auto;
}
/* end Barrister listing page*/

/* start single barrister page*/
.singleBarristerHeader{
	background: #f3f3f3;
}

.singleBarristerHeader  h1,
.singleBarristerHeader  h2,
.singleBarristerHeader  h3,
.singleBarristerHeader  h4,
.singleBarristerHeader  h5,
.singleBarristerHeader  h6{
	color:#c61912;
}
.singleBarristerHeader .barristerThumbnail{
	padding-right: 15px;
}
.singleBarristerHeader .textBase{
	position: absolute;
	z-index: 2;
	height: 190px;
	width: 100%;
}

.singleBarristerHeader .captionTitle{
	min-height: 190px;
    padding-top: 2.5%;
    padding-left: 50px;
    position: relative;
    color: #FFFFFF;
    z-index: 3;
    font-size: 35px;
}
.singleBarristerHeader .captionCall{
	font-size:18px;
	margin-top: -10px;
}
.singleBarristerHeader .feetback{
	text-align:center;
	font-size:18px;
	padding-top: 15px;  
	Color: #6A6A6A;
}

.feetbackContainer img{
	height: 100px;
	max-width: 100%;
    padding-top: 10px;
}
.singleBarristerHeader .feetbackContainer{
	margin: 0 0px 25px 0px;
    background: white;
    padding: 0;
    width: 100%;
    text-align: center;
	height: 183px;
}
#headerThumbnails{
	margin-top: -7px;
}
#BarristerContent,
#BarristerAreaOfExperience{
	background: white;
	margin-bottom: 20px;
	padding: 45px 80px;
	font-size:16px;  
	Color: #6A6A6A;
	margin-left: -36px;
}
#BarristerContent #description{
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
	width: 100%;
}
#BarristerSidebar{
	background: white;
	padding:10px 30px;
	font-size:16px;  
	Color: #6A6A6A;
	margin-left: -21px;
}
#BarristerSidebar h1,
#BarristerSidebar h2,
#BarristerSidebar h3,
#BarristerSidebar h4,
#BarristerSidebar h5,
#BarristerSidebar h6,
#BarristerSidebar a,
#BarristerSidebar a:hover{
	color:#c61912;
}

.PracticeTitle{
	margin-top: -20px;
    font-size: 28px;
    padding: 0;
    padding-bottom: 12px;
}
.singleBarristerHeader + div + div {/* background of "Back to Top" button */
    background-color: #f3f3f3;
}
/* end single barrister page*/
#parentPagesList li a{
	color: #6A6A6A;
}
#parentPagesList li a:hover{
	color:black;
	text-decoration:none;
}
#category-search-area img{
	height:30px;
	margin-bottom: 3px;
}
#category-search-area a:hover{
	text-decoration:none:
}
#category-search-area input,
#category-search-area select{
	height:30px;
	border-color: #A6A6A6;
    border-style: solid;
    border-width: 1px;
    

}
#category-search-area select, 
#category-search-area #searchInput2{
	width: 164px;
}
.btn-enquire,
.btn-enquire,
.btn-enquire:focus ,
.btn-enquire:hover ,
.es_textbox_button,
.es_textbox_button:focus,
.es_textbox_button:hover  {
	background-color: #c61912;
	color: white;
	font-weight:700;
	border-radius:0;
	text-decoration:none;
	width: 125px;
	padding: 6px 12px;
	border: 0;
}
.associated-members{
	text-align:right;
}
/* start ninja forms overriding */

.nf-field-label label,
.nf-field-element label{
    font-weight: 500 !important;
}
.nf-form-layout input[type=text], 
.nf-form-layout input[type=email], 
.nf-form-layout input[type=tel], 
.nf-form-layout input[type=number],
.nf-form-layout select,
.nf-field-element textarea{
	background-color: #fcfcfc;
	border: 1px solid #dfdfdf;
    border-radius: 0;
	min-height: 30px;
}

.nf-field-element input[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}
.list-radio-wrap .nf-field-element ul li{
	display: inline;
    float: left;
	margin: 0 8px 5px !important;
}
input[type=radio] + label:after {
    content: url("/wp-content/themes/18rlc/img/rounded.png");
	padding-left: 10px;
	vertical-align: -webkit-baseline-middle;
	vertical-align: -moz-middle-with-baseline;
}
 input[type=radio]:checked + label:after {
	content: url("/wp-content/themes/18rlc/img/rounded-checked.png");
	padding-left: 10px;
	vertical-align: -webkit-baseline-middle;
	vertical-align: -moz-middle-with-baseline;
}
/* end ninja forms overriding */
	#viewRegisterFormBtn{
		margin-bottom: 20px;
	}
	
.su-tabs, 
.su-tabs-pane{
	font-size: 16px !important; 
    Color: #6A6A6A !important;
}	
.yearContainer{
	position:relative;
	overflow: hidden;
	display: table;
}
.timeLineContent{
	display: table-cell;
	float: none;
}

.timeLineRedSide {
	
	background: #c61912;
	height: 100%;
	width: 100%;
	float: left;
	padding-bottom: 999px;
	margin-bottom: -999px;
	display: table-cell;
}
.timeLineYear{
	position: absolute;
	text-align: center;
	color: white;
	font-size: 40px; 
	background: rgba( 0, 0, 0, .6); 
	display: flex;
	align-items: center;
	height: 100%;
}
.footer-menu-item {
	display:inline-block;
}
.sortBaristerFilter{
	padding: 0 ;
}
.panel{
	margin-bottom: 0px; 
	border-radius: 0px; 
}
#areas-of-expertise-list a{
	color:black;
	text-decoration:none;
}
#areas-of-expertise-list{
	padding-top:30px;
}
#areas-of-expertise-list > li{
	list-style-type: none;
}

#areas-of-expertise-list > li > a {
	border-width: 0px 0px 7px 0px;
	border-color: #f3f3f3;
	border-style: solid;
	margin: 20px 0;
	font-size: 28px;
	padding: 0;
	display:block;
	padding-bottom: 12px;
}

ul.children{
	margin-left: -40px; 
	-webkit-column-count: 3;
	   -moz-column-count: 3;
			column-count: 3;
}

ul.children > li{
	list-style-type: none;
	font-size: 14px;
	line-height: 30px;
}

ul.children > li:before {
   display: inline-block; 
   content: '\2022'; 
   padding-right: 15px;
}

ul.children{
	padding-bottom: 50px;
}

/*start shortlist*/
#add-to-shortlist-btn{
	border:1px solid white;
	padding: 10px;
    font-size: 15px;
	color:white;
	cursor:hand;
	cursor:pointer;
    bottom: 0;
    float: left;
}

#shortlistContainer{
   /* position: fixed;
    top: 140px;*/
	position: absolute;
    top: 610px;
    z-index: 20000;
    left: -500px;
    width: 550px;
	height:315px;
    background: white;
	box-shadow: 1px 1px 10px #888888;
	min-height: 317px;
}
#shortlistContainer aside{
    width: 500px;
    min-height: 100%;
   
}
#shortlistContainer #buttonSlider {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 315px;
    width: 50px;
	background: white;
}

.shortlist-opened{
	height: 50px;
	margin-top: -5px;
    position: relative;
	cursor: hand;
	cursor: pointer;
}

.shortlist-closed{
	height: 50px;
	margin-top: -5px;
    position: relative;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
	cursor: hand;
	cursor: pointer;
}
#shortlist-barrister-num{
	color:white;
	font-size:18px;
	position:relative;
	height: 50px;
    width: 50px;
	text-align: center;
    padding-top: 12px;
	bottom: 0;
	cursor: hand;
	cursor: pointer;
    position: absolute;
	margin-bottom: -2px;
}
#shortlist-vertical-title{
    transform: rotate(90deg);
    transform-origin: 5% 100%;
    width: 200px;
	cursor: hand;
	cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
}
.shortlist-title{
	color: grey;
	font-size:15px;
	text-transform:uppercase;
	padding: 0;
}
.shortlist-barrister{
	color: grey;
	font-size:14px;

	padding: 0;
}
.shortlist-barrister-link{
	color:grey;
}
#remove-all-barristers{
	color: #b02522;
	cursor:hand;
	cursor:pointer;
	text-decoration:underline;
	padding-right: 15px;
}
.remove-barrister{
	float:right;
	display:none;
	cursor:hand;
	cursor:pointer;
	color: #b02522;
	margin-right: -40px;
}
#email-all, 
#print-all, 
#remove-all{
	font-weight: 700;
	text-decoration:underline;
	color: grey;
}
#shortlist-desc{
	color: grey;
	padding-bottom:10px;
}
/*end shortlist*/
.associated-members-title{
	float:right;
}
#view-our-barrister-btn{
	background-color: #c61912;
    color: white;
	text-align: center;
    font-weight: 700;
    border-radius: 0;
    text-decoration: none;
    width: 170px;
    padding: 6px 12px;
    border: 0;
    margin: auto;
    display: table;
}
.logoContainer{
	padding:25px;
}
.logoContainer .logo-header{
	max-height: 70px;
}
.headerContactTitle{
	font-size:16px;
	color:#c61912;
	font-weight: 700;
}
.headerContactPhone{
	font-size:14px;
}
#header-contact{
	height:55px;
}
.second-level-menu{
	font-size:18px;
	margin-right:15px;
	float:right;
}
#searchContainer2 form{
	width: 160px;
    float: right;
    margin-right: 50px;
    margin-top: -60px;
}

.menuSearch{
	background-color: #f3f3f3;
	color:black;
	border-color: #A6A6A6;
	border-radius: 0;
}
.menuSearch::-webkit-input-placeholder,
.menuSearch::-moz-placeholder,
.menuSearch::-ms-input-placeholder
 {
  color: #A6A6A6;
} 
.news-column .panel-default .btn-read-more{
	position: absolute;
    bottom: 0;
}

.news-column .panel-default{
	height:670px
}
.barristerTitleLine {
	height  : 1px;
	width   : 20%;  
	margin-bottom: 20px;
	border-bottom:1px solid white;
}
.searchResultTitle,
.searchResultTitle:hover,
.searchResultTitle:focus,
.searchResultTitle:visited{
	/*font-weight: 700;*/
    font-size: 19px;
	color: #6A6A6A;
	display: block;
	text-decoration:none;
	line-height: 1.4;
}
.searchResultPostType{
	color:#c61912;
	text-decoration:none;
	text-transform: capitalize;
}
.linkedin-follow-button,
.twitter-follow-button{
    text-decoration: none !important;
}
#hoveredBaristerData{
    width: 310px;
    height: 240px;
    background-color:#c61912;
    position: fixed;
    bottom: 0;
    right: 35px;
    z-index: 20000;
    display: none;
}
#hoveredBaristerImage{
    width: 310px;
    height: 190px;
}
#hoveredBaristerName{
    color: white;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}


@media screen and (min-width: 1599px) {
	.singleBarristerHeader .barristerThumbnail{
        max-width: 360px;
    }
	.barttiersHeader img{
		height: 480px;
	}
	
	.singleBarristerHeader .feetbackContainer{
		height: 206px;
	}
	.singleBarristerHeader .textBase{
		height: 210px;
	}
}
	#searchContainer{
		display:none;
	}
	
	#searchContainer2{
		display:block;
	}
	
@media (max-width:1300px) {
	#searchContainer{
		display:block;
	}
	
	#searchContainer2{
		display:none;
	}
}

@media screen and (max-width: 1170px) {
	.homepageHowWeAreContent{
		width: 90%;
	}
	.flex-caption-description{
		padding: 0px 25px;
		font-size: 14px;
	}
	
	.barttiersHeader img{
		height: 420px;
	}
	
	.timeLineYear{
		font-size: 20px; 
	}
}
@media (max-width:767px) {
  
    .barttiersHeader{
		border-color: white;
	}
    .homepageHowWeAreContent {
        width: 75%;
    }
    .barttiersHeader .title{
        padding: 0 50px 0 30px;
    }
	#category-search-area{
		text-align: center;
	}
    .news-column {
        padding: 5px 0 0 0;
    }
	.news-column .panel-default{
		height:auto;
	}
	.flex-caption-title{
		font-size: 16px;
		padding-top: 0px;
	}
	 .metaslider .slides img {
		width: 100%;
		display: block;
	}

	#searchContainer input{
		border:none;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.00); 
	}

	#searchContainer input:focus {
		outline: transparent !important;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102,175,233,.0) !important;
		 box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102,175,233,.0) !important; 
	}
	.logoContainer{
		padding:35px 0px;
	}
	.navbar-default{
		background-color: white;
		min-height: 1px;
		margin-top: -36px;
	}
	
	.sortBaristerFilter{
		padding: 0 15px;
	}
    .flex-direction-nav{
		display:none;
	}
	
	.backgroundBlack{
		float: initial;
		padding:0;
	}
	
	.backgroundBlack h3 {
		position: absolute;
		margin-top: -50px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.backgroundBlack .field-wrap{
		display: block;
		margin-top: 10px;
		text-align: center;
	}
	
	.seniorityTitle{
		border-style: none;
	}
	.homepageHowWeAreContent{
        margin-top: 20px;
	}
	
	.news-img, 
	.news-img img{
		max-height:175px;
	}
	.news-date{
		text-align:center;
	}
	.news-date-devider{
		margin: auto;
		width: 10%;
	}
	.news-excerpt{
		padding: 0 30px;
		text-align: center;
		margin-bottom: 25px;
	}
	.article-container img{
		min-height:118px;
	}

	.get-in-touch-container input[type=submit]{
		width:100%;
	}
	.get-in-touch-container{
		padding-top: 100px;
	}
	
	.get-in-touch-description,
	.get-in-touch-title{
		text-align:center;
		padding: 0;
	}
	.footer-menu{
		border:1px solid #9ca1a6;
		margin: 25px 0;
		padding-top: 15px; 
        padding-bottom: 15px
	}
    .footer-menu-item{
		width: 50%;
		display:block;
		float: left;
		text-align: center;
	}
    .copyright{
        padding: 0;
    }
	#mobile-menu{
		display:none;
		height: 100%;
		width: 0;
		position: absolute;
		z-index: 99999999;
		right: 47px;
		color: #c61912;
		margin-top: -5px;
		float: right;
		margin-right: -47px;
		overflow-x: visible; 
		margin-top: 30px; 
		transition: 0.5s; 
	}
		
	.mobile-nav  > li {
		border-top:1px solid gray;
		background-color:white;
		font-weight:600;
		font-size:16px;
		padding:5px;
	}
	.mobile-nav  > li >ul >li a{
		color: initial;
		font-weight: 500;
		font-size:14px;
		background-color:white;

	}
	#menu-header-menu{
		border:1px solid gray;
	}
	#liMenu{
		border-top: none;
		text-align: right;
	}
	#li-mobile-menu-btn{
		padding:5px;
	}
	.mobile-nav  > li >.submenu >li >.submenu > li{
		background-color:green;
	}
	.mobile-nav > li > .sub-menu{
	    padding: 0px 32px;
		content: "•";
		color: gray; 
	}
	.mobile-nav > li > .sub-menu  li{
	   list-style-type: disc;
	}
	.mobile-nav  .sub-menu {
		 padding: 0px 16px;
	}

	.mobile-nav  li ul.dropdown-menu,
	.mobile-nav li ul.dropdown-menu li ul
	{
		display:block;
	}
	.associated-members{
		text-align:left;
	}
	#calendarContainer{
		display:none;
	}
	#BarristerContent #description{
		column-count: 1;
	}
	.feetbackContainer{
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		margin-top: 9px !important;
	}
	.borderSides{
		border-right: 1px solid gray;
		border-left: 1px solid gray;
	}
	.barristerFeetback{
		padding:0;
	}
	.singleBarristerHeader .captionTitle{
		font-size: 20px;
	}

	.singleBarristerHeader .captionCall{
		font-size: 16px;
	}
	.collapseomaticRedLine{
		width: 38%
	}
	#BarristerContent, #BarristerAreaOfExperience{
		padding: 0 45px;
	}
	.collapseomatic{
		font-size: 15px;
	}
	.flexslider-middle .caption-wrap {
		padding:0;
	}

	.placeFiller{
		height: 150px;
	}

	 #featuresTwo , 
	 #featuresThree{
		text-align:center;
		padding: 0;
	}
	#featuresOne{
		text-align: center;
		padding-right: 35px;
		margin-left: 20px;
		margin-top: -20px;
	}
	.container-middle .flex-caption-description{
		
	}
	.sub-menu li .sub-menu li a{
		font-size: 12px;
	}
	.seniorityTitle{
		margin:0; 
	}
	#homepageHowWeAreImg{
		margin-top: -5px;
	}
	
	#homepageHowWeAreDescription{
		font-size: 17px;
		line-height: 1;
	}
	#homepageHowWeAreTitle{
		font-size: 20px;
	}
	.homepageHowWeDevider{
		width: 150px;
	}
	.titleDevider-xs{
		border-bottom: 7px solid #f3f3f3;
		margin-bottom: 15px;
	}
	.seniorityTitle{
/*		padding-left: 10px;*/
	}
	.padding0-xs{
		padding:0;
	}
	.padding15-xs{
		padding:15px;
	}
	.paddingL0-xs{
		padding-left:0;
	}
	.silkTitle,
	.callTitle, 
	.nameTitle {
		padding-bottom: 12px;
	}
	.btn-honorary-door-tenants{
		padding: 4px 18px;
	}
	#barristerFilter input ,
	#barristerFilter select{
		
	}
	.singleBarristerHeader .captionTitle {
		padding:0;
	}
	.background-xs{
		background: rgba( 0, 0, 0, .6);
		z-index: 3;
		padding: 20px;
		height: 110px;
	}
	.singleBarristerHeader .textBase {
		height: 230px;
		padding: 0;
	}
	.height100{
		height: 120px;
	}
	.btn-honorary-door-tenants{
		width: 93%;
		float: left;
	}
	#barristerFilter {
		padding: 0;
	}
	
	.two-sixths, 
	.two-thirds{
		width:100% !important;
		clear: both;
		margin-left: 0 !important;
	}
	.padding5-xs{
		padding: 5px;
	}

	.btn-view-all-news{
		float: none;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		width: 130px;
	}
	.btn-read-more{
		width: 130px;
	}
	.singleBarristerHeader{
		background: white;
	}
	#metaslider_24 div ul li .caption {
		top: 0%;
		 text-align: center;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0;
		
	}
    
	.footer-logo {
		padding: 0;
		margin: auto;
	}
	.news-title{
		text-align:left;
		padding-left: 15px; 
		padding-right: 55px;
	}
	.expand-news{
		position: absolute;
		right: -15px;
		color: white;
		z-index: 9999;
		font-size: 50px;
		padding: 10% 30px;
		cursor: hand;
		cursor: pointer;
	}
	#how-are-we-btn{
		color: white;
		background-color: #c61912;
		width: 150px;
		border: 1px solid white;
		padding: 4px 30px;
		margin: auto;
        font-weight: 700;
	}
	ul.children{
		margin-left: -40px; 
		-webkit-column-count: 2;
		   -moz-column-count: 2;
				column-count: 2;
	}
	.send-questionnaires-btn{
		margin: auto !important;
		display: table;
	}
	.associated-members-title{
		float:left;
	}
    
}
@media (min-width: 768px) {

  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }

  .paddingR90-sm{
	  padding-right:90px;
	  
  }
  .news-column{
		padding-top:5px;
		height:auto;
   }
  
  .navbar-default .navbar-nav > li:not(:last-child) {
    border-right:1px solid #ddd;
	height: 30px;
   }
  
  .navbar-default .navbar-nav > li:not(:first-child) {
    border-left:1px solid #fff;
	height: 30px;
   }
 
}

 
@media (max-width:767px) and (orientation:portrait) {
  .flexslider-first .slides img {
        height: 110px !important;
    }
    .flexslider-middle img {
         height: 150px !important;
    }
}

@media (max-width:767px) and (orientation:landscape) {
   .flexslider-first .slides img {
        height: 160px !important;
    }
}


