/*start shortlist*/

html,
body {
    height: 100%;
}

.relative {
    position: relative;
}

#barristerSortlist .glyphicon-chevron-down {
    position: absolute;
    left: 0;
    position: absolute;
    width: 40px;
    line-height: 31px;
}

#add-to-shortlist-btn {
    border: 1px solid white;
    padding: 10px;
    font-size: 15px;
    color: white;
    cursor: hand;
    cursor: pointer;
    bottom: 0;
    float: left;
}

#shortlistContainer {
    position: absolute;
    margin-top: 85px;
    z-index: 20000;
    right: 0;
    width: 550px;
    background: white;
    box-shadow: 1px 1px 10px #888888;
    min-height: 317px;
}

#shortlistContainer aside {
    width: 500px;
    min-height: 100%;
}

#shortlistContainer #buttonSlider {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 315px;
    width: 50px;
    background: white;
}

.shortlist-opened {
    height: 50px;
    margin-top: -5px;
    position: relative;
    cursor: hand;
    cursor: pointer;
}

.shortlist-closed {
    height: 50px;
    margin-top: -5px;
    position: relative;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: hand;
    cursor: pointer;
}

#shortlist-vertical-title {
    transform: rotate(90deg);
    transform-origin: 5% 100%;
    width: 200px;
    cursor: hand;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
}

.shortlist-title {
    color: grey;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
}

.shortlist-barrister {
    color: grey;
    font-size: 14px;
    padding: 0;
}

.shortlist-barrister-link {
    color: grey;
}

#remove-all-barristers {
    color: #b02522;
    cursor: hand;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 15px;
}

.remove-barrister {
    float: right;
    display: none;
    cursor: hand;
    cursor: pointer;
    color: #b02522;
    margin-right: -40px;
}

#email-all,
#print-all,
#remove-all {
    font-weight: 700;
    text-decoration: underline;
    color: grey;
}

#shortlist-desc {
    color: grey;
    padding-bottom: 10px;
}

.shortlist-opened,
.shortlist-closed {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shortlist-header {
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 550px;
    margin-bottom: 10px;
    padding: 10px 55px;
    color: white;
    font-size: 20px;
}

#shortlist-actions {
    padding-bottom: 15px;
}

.su-tabs-nav span {
    border-bottom: 5px double #f3f3f3;
    background: white!important;
    margin-right: 0 !important;
}

.su-tabs-nav span:hover {
    border-bottom: 5px solid #c61912;
}

.su-tabs-nav span.su-tabs-current {
    border-bottom: 5px solid #c61912;
}

.su-tabs {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white!important;
}

.collapseomatic .glyphicon-minus,
.collapseomatic .glyphicon-plus {
    -webkit-text-stroke: 3px white;
}

#barrister-contact-info {
    background-size: cover;
    background-position: center;
    /* height: 335px;*/
}

#barrister-thumbnail {
    width: 100%;
    /*min-height: 300px;
    overflow: hidden;*/
}

#barristerHeader {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#baristerTitleContainer {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 85px;
    background-color: #292929;
    color: white;
}

#baristerName {
    padding: 0 0 0 50px;
    display: inline;
    float: left;
}

#captionCallSilk {
    font-size: 24px;
    border-left: 1px solid white;
    padding: 0 30px;
    margin: 25px 0px 25px 30px;
    display: inline;
    float: left;
}

#barristerSortlist {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    height: 40px;
    margin-top: 20px;
    margin-right: 30px;
    padding: 0px 39px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    right: 0;
    position: absolute;
    cursor: pointer;
}

#barristerSortlist .glyphicon-chevron-down {
    top: 4px;
}

.barrister-certificate {
    height: 150px;
    width: 110px;
    border: 3px solid white;
    display: inline;
    margin-top: 3px;
    margin-bottom: 3px;
    max-width: 100%;
}

#mobile-info {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 1;
    bottom: 0;
    background-color: red;
    color: white;
}

#barristerCaption {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    width: 100%;
    font-size: 17px;
    display: table-cell;
    vertical-align: middle;
}

#barristerCaption a {
    color: white;
}

.social-network {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 55px;
    margin-top: 45px;
    display: table-cell;
    vertical-align: middle;
}

#BarristerContent {
    background: white;
    margin-bottom: 20px;
    padding: 45px 50px;
    font-size: 16px;
    color: #6A6A6A;
    margin-left: 0;
}

#BarristerContent #description {
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
    width: 100%;
}

.socials-container {
    display: table;
    height: 150px;
    padding: 0;
}

#tel-mail-container {
    display: table;
    height: 150px;
}

#tel-mail {
    display: table-cell;
    vertical-align: middle;
}

.nopadd {
    padding-left: 0px;
    padding-right: 0px;
}

.w100pr {
    width: 100%;
}

#shortlist-barrister-num {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 50px;
    line-height: 40px;
}

#shortlist-star {
    text-align: center;
}

.social-network img {
    padding-left: 3px;
}

@media (max-width: 991px) {
    #barrister-contact-info,
    #barrister-thumbnail {
        height: auto;
    }
}

@media (max-width: 768px) {
    #BarristerContent #description {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    #barrister-contact-info {
        height: auto;
    }
    #barristerCaption {
        border-top: 1px solid white;
        padding: 0;
    }
    #BarristerContent {
        padding: 30px 20px;
    }
    .socials-container>div {
        height: 150px;
        border-left: 1px solid white;
        display: inline-block;
        float: left;
    }
    .socials-container span {
        display: block;
        margin: auto;
        width: 100%;
        margin-top: 22px;
        margin-bottom: 10px;
    }
    .social-network {
        margin: 0;
        width: 60px;
        background-size: 60px 60px;
        background-position: center;
    }
    .socials-container {
        width: 100%;
    }
    #barristerCaption {
        padding: 0;
    }
    .socials-container {
        padding: 0;
        text-align: center;
    }
    #mobile-info {
        position: absolute;
        width: 100%;
        height: 100px;
        z-index: 1;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        ;
        color: white;
    }
    #mobile-info h1 {
        line-height: 0.9;
    }
    .collapseomatic {
        padding-top: 5px;
    }
}
