/*start shortlist*/

#add-to-shortlist-btn {
    border: 1px solid white;
    padding: 10px;
    font-size: 15px;
    color: white;
    cursor: hand;
    cursor: pointer;
    bottom: 0;
    float: left;
}

#shortlistContainer {
    /* position: fixed;
    top: 140px;*/
    position: absolute;
    top: 610px;
    z-index: 20000;
    left: -500px;
    width: 550px;
    height: 315px;
    background: white;
    box-shadow: 1px 1px 10px #888888;
    min-height: 317px;
}

#shortlistContainer aside {
    width: 500px;
    min-height: 100%;
}

#shortlistContainer #buttonSlider {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 315px;
    width: 50px;
    background: white;
}

.shortlist-opened {
    height: 50px;
    margin-top: -5px;
    position: relative;
    cursor: hand;
    cursor: pointer;
}

.shortlist-closed {
    height: 50px;
    margin-top: -5px;
    position: relative;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: hand;
    cursor: pointer;
}

#shortlist-barrister-num {
    color: white;
    font-size: 18px;
    position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 12px;
    bottom: 0;
    cursor: hand;
    cursor: pointer;
    position: absolute;
    margin-bottom: -2px;
}

#shortlist-vertical-title {
    transform: rotate(90deg);
    transform-origin: 5% 100%;
    width: 200px;
    cursor: hand;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
}

.shortlist-title {
    color: grey;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
}

.shortlist-barrister {
    color: grey;
    font-size: 14px;
    padding: 0;
}

.shortlist-barrister-link {
    color: grey;
}

#remove-all-barristers {
    color: #b02522;
    cursor: hand;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 15px;
}

.remove-barrister {
    float: right;
    display: none;
    cursor: hand;
    cursor: pointer;
    color: #b02522;
    margin-right: -40px;
}

#email-all,
#print-all,
#remove-all {
    font-weight: 700;
    text-decoration: underline;
    color: grey;
}

#shortlist-desc {
    color: grey;
    padding-bottom: 10px;
}

.shortlist-opened,
.shortlist-closed {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#shortlist-barrister-num {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.shortlist-header {
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: -5px;
    width: 500px;
    margin-bottom: 10px;
    padding: 10px 55px;
    color: white;
    font-size: 20px;
}

#shortlist-actions {
    padding-bottom: 15px;
}

.su-tabs-nav span {
    border-bottom: 5px double #f3f3f3;
    background: white!important;
    margin-right: 0 !important;
}

.su-tabs-nav span:hover {
    border-bottom: 5px solid #c61912;
}

.su-tabs-nav span.su-tabs-current {
    border-bottom: 5px solid #c61912;
}

.su-tabs {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white!important;
}

.collapseomatic .glyphicon-minus,
.collapseomatic .glyphicon-plus {
    -webkit-text-stroke: 3px white;
}
